
.ui.four.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ui.card {
  width: 300px;
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.ui.card:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.ui.card .image img {
  max-height: 200px;
  object-fit: cover;
}

.ui.card .content {
  padding: 1rem;
}

.ui.card .header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.ui.card .catchphrase {
  margin-top: 1rem;
  color: gray;
}

.ui.card .stat-details {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.ui.card .stat-details span {
  display: flex;
  flex-direction: column;
}

.ui.card .stat-details span i {
  margin-bottom: 0.5rem;
}
